body {
	background-color: #E7E8E3;
}

.metamorph {
	fill: #178341;
	width: 50%;
}

#slide-box {
	height: 140px;
	width: 150px;
	top: -140px;
	left: 0px;
	background-color: #1B92E9;
	position: relative;
	cursor: pointer;
	padding: 8px;
}
.container {
	position: absolute;
	top: 200px;
	left: 200px;
	height: 300px;
	width: 500px;
	background-color: #ccc;
	overflow: hidden;
}
.form-name {
	width: 80px;
	float: left;
	clear: left;
}
div.form-name + input {
	float: left;
	display: block;
}
.button {
	width: 228px;
	padding: 4px;
	border-radius: 4px;
	background-color: #A3FC6D;
	clear: both;
	float: left;
	text-align: center;
}
.button_two,
.modal_button,
.button_three,
.elem {
	width: 40px;
	padding: 4px;
	border-radius: 4px;
	background-color: #ccc;
	float: left;
	text-align: center;
}
.select {
	background-color: red;
}
.button_user,
.button_shetch,
.button_proto {
	width: 40px;
	padding: 4px;
	border-radius: 4px;
	background-color: #ccc;
	float: left;
	text-align: center;
}
.button_user:hover,
.button_proto:hover {
	cursor: pointer;
	background-color: #DBDBDB;
}
.calc-buttons-box {
	clear: left;
}
.button-summ,
.button-proto {
	padding: 4px;
	border-radius: 4px;
	background-color: #ccc;
	float: left;
	text-align: center;
}
.button-proiz {
	margin-left: 4px;
}
.button-summ:hover,
.button-proiz:hover {
	cursor: pointer;
	background-color: #DBDBDB;
}
.button_two:hover,
.button_three:hover,
.modal_button:hover {
	cursor: pointer;
	background-color: #DBDBDB;
}
.button:hover {
	cursor: pointer;
	background-color: #D3F892;
}
.form-box {
	margin-bottom: 6px;
	display: inline-table;
	float: left;
}
.calc-form-box {
	margin-bottom: 6px;
	display: inline-table;
	float: left;
}
.calc-box {
	float:left;
	margin-left: 60px;
	background-color: #E2E2E2;
}
.person-form-box {
	float: left;
}
.person-box {
	width: 100%;
	text-align: center;
}
#loading {
	background-color: #2F18CD;
	padding: 8px;
	color: #fff;
	float: right;
	display: none;
}
input[type="text"] {
	border-radius: 4px;
	border: 0px;
	padding: 2px;
}
.links-box {
	margin-left: 100px;
	padding: 4px;
	background-color: #ccc;
	float: left;
}
.rezults {
	margin-left: 10px;
	padding: 4px;
	float: left;
	font-weight: bold;
}
.schet {
	float: left;
	background-color: #ccc;
	height: 90px;
	margin-left: 20px;
}
.modalbackgr {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	background-color: #000;
	filter:alpha(opacity=80);
   -moz-opacity:0.8;
   -khtml-opacity:0.8;
   opacity:0.8;
   display: none;
}
.modal_wrapper {
	position: absolute;
	overflow: hidden;
	z-index: 1070;
	z-index: 1060;
	left: 50%;
	top:50%;
	display: none;

}
.modal_ul {
	position: relative;
	overflow: hidden;
	list-style: none;
	margin: 0px;
	padding: 0px;
	left: 0px;
	display: none;

}
.modal_li {
	width: 400px;
	height: 200px;
	background-color: #fff;
	overflow: hidden;
	float: left;
}
.top_layers {
	background-color: #ccc;
}
